/Debug
/Debug_Game
/Debug_Engine
/Release
/Release_Game
/Release_Engine
/x64
/ipch
/UnitTest++/obj/
/*/Debug
/*/Debug_Game
/*/Debug_Engine
/*/Release
/*/Release_Game
/*/Release_Engine
/*/x64/Debug
/*/x64/Debug_Game
/*/x64/Debug_Engine
/*/x64/Release
/*/x64/Release_Game
/*/x64/Release_Engine
*.vcxproj.user
*.sdf
*.opensdf
*.suo
/FSGDGame/*.fxo
/FSGDGame/FSGDGame.exe
/Editor/obj
/Editor/bin
/x64
/_UpgradeReport_Files
ED GUI Creator/bin/
ED GUI Creator/obj/
EDLabMaker/*/bin/
EDLabMaker/*/obj/
/FSGDGame/*.cso
/EDLabMaker/*.exe
/EDLabMaker/*.dll
/DirectXTK/Bin
/DirectXTK/MakeSpriteFont/bin
/DirectXTK/MakeSpriteFont/obj
/Python/lib/*.pyc
/Python/lib/__pycache__/*.pyc
/Python/lib/collections/__pycache__/*.pyc
/Python/lib/encodings/__pycache__/*.pyc
/Python/lib/importlib/__pycache__/*.pyc
/Scripts/__pycache__/*.pyc
/FSGDGame/Python*.dll
