<?xml version="1.0" encoding="utf-8"?>
<SolutionSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ProjectNameToExcludedCppFileNameMap>
    <Item>
      <Key>
        <string>EDUtilities</string>
      </Key>
      <Value>
        <ArrayOfString />
      </Value>
    </Item>
    <Item>
      <Key>
        <string>EDMemoryManager</string>
      </Key>
      <Value>
        <ArrayOfString />
      </Value>
    </Item>
    <Item>
      <Key>
        <string>tinyxml</string>
      </Key>
      <Value>
        <ArrayOfString />
      </Value>
    </Item>
    <Item>
      <Key>
        <string>EDRendererD3D</string>
      </Key>
      <Value>
        <ArrayOfString />
      </Value>
    </Item>
    <Item>
      <Key>
        <string>EDSolutions</string>
      </Key>
      <Value>
        <ArrayOfString />
      </Value>
    </Item>
    <Item>
      <Key>
        <string>EDCollision</string>
      </Key>
      <Value>
        <ArrayOfString />
      </Value>
    </Item>
    <Item>
      <Key>
        <string>EDEventManager</string>
      </Key>
      <Value>
        <ArrayOfString />
      </Value>
    </Item>
    <Item>
      <Key>
        <string>EDInput</string>
      </Key>
      <Value>
        <ArrayOfString />
      </Value>
    </Item>
    <Item>
      <Key>
        <string>EDTree</string>
      </Key>
      <Value>
        <ArrayOfString />
      </Value>
    </Item>
    <Item>
      <Key>
        <string>FSGDGame</string>
      </Key>
      <Value>
        <ArrayOfString>
          <string>FSGDOcclusionQuery.cpp</string>
        </ArrayOfString>
      </Value>
    </Item>
    <Item>
      <Key>
        <string>EDGOCA</string>
      </Key>
      <Value>
        <ArrayOfString />
      </Value>
    </Item>
    <Item>
      <Key>
        <string>AiNavigationManager</string>
      </Key>
      <Value>
        <ArrayOfString />
      </Value>
    </Item>
    <Item>
      <Key>
        <string>AiPathPlanner</string>
      </Key>
      <Value>
        <ArrayOfString />
      </Value>
    </Item>
    <Item>
      <Key>
        <string>AiNavigationMesh</string>
      </Key>
      <Value>
        <ArrayOfString />
      </Value>
    </Item>
    <Item>
      <Key>
        <string>UnitTest++Process</string>
      </Key>
      <Value>
        <ArrayOfString />
      </Value>
    </Item>
    <Item>
      <Key>
        <string>UnitTest++.vsnet</string>
      </Key>
      <Value>
        <ArrayOfString />
      </Value>
    </Item>
    <Item>
      <Key>
        <string>EDThreadPool</string>
      </Key>
      <Value>
        <ArrayOfString />
      </Value>
    </Item>
    <Item>
      <Key>
        <string>GDExporter</string>
      </Key>
      <Value>
        <ArrayOfString />
      </Value>
    </Item>
    <Item>
      <Key>
        <string>EDHeapSolution</string>
      </Key>
      <Value>
        <ArrayOfString />
      </Value>
    </Item>
    <Item>
      <Key>
        <string>DirectXTK_11_Desktop</string>
      </Key>
      <Value>
        <ArrayOfString />
      </Value>
    </Item>
    <Item>
      <Key>
        <string>EDMath</string>
      </Key>
      <Value>
        <ArrayOfString />
      </Value>
    </Item>
    <Item>
      <Key>
        <string>EDSquirrel</string>
      </Key>
      <Value>
        <ArrayOfString />
      </Value>
    </Item>
    <Item>
      <Key>
        <string>EDSqStdLib</string>
      </Key>
      <Value>
        <ArrayOfString />
      </Value>
    </Item>
    <Item>
      <Key>
        <string>EDSquirrelManager</string>
      </Key>
      <Value>
        <ArrayOfString />
      </Value>
    </Item>
  </ProjectNameToExcludedCppFileNameMap>
</SolutionSettings>